* {
    box-sizing: border-box;
}


.main-header {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: url('images/coffeebean.jpg') no-repeat center;
    background-size: cover;
    margin-bottom: 30px;
}

.container {
    padding-right: 1em;
    padding-left: 1em;
}

.bus-name {
    border: 1px solid rgb(100, 55, 23);
}

.bus-name,
.top-nav {
    text-align: center;
    background: burlywood;
    margin-top: 6px;
    margin-bottom:6px;
}

.bus-name,
.top-nav a {
    color: rgb(100, 55, 23);
}

.top-nav a {
    text-transform: uppercase;
    text-decoration: none;
}

.top-nav a:hover {
    color: brown;
}

.top-nav ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-nav li {
    list-style: none;
    display: block;
    padding: 1em;
}

.block-article {
    border: 3px solid brown;
    padding: 10px;
    margin: 10px;
}

.main-content {
    background-color: burlywood;
    padding: 1em;
    margin: 1em;
}


 /* -------- Media Queries ------------ */


 @media (min-width: 768px) {
 
    .top-nav ul {
        width: auto;
        float: right;
        margin-top: 8px;
    }
    
    .top-nav li {
        padding: 15px 30px;
        display: inline-block;

 }